<h1>候選人列表</h1>
<!-- 
<a href="<%= new_candidate_path %>">新增</a> 建議用下面link_to方式-->
<%= link_to '新增', new_candidate_path %>

<ul>
		<% @candidates.each do |candidate| %>
			<%= link_to'更新', edit_candidate_path(candidate) %>
			<li><%= candidate.name %></li>
		<% end %>
</ul>