<h1>候選人列表</h1>

<%= render  'ad', text: @text %>

<!-- 
<a href="<%= new_candidate_path %>">新增</a> 建議用下面link_to方式-->
<%= link_to '新增', new_candidate_path %>


<ul>
	<!-- collecition 作迴圈這件事，前面要完整的 render partial -->
	<%= render partial: "candidate", collection: @candidates %> 
</ul>